<template>
  <div class="container" id="Register">
    <h1>Latest Register</h1>
    <!-- CREATE POST HERE -->
    <hr>
    <p class="error" v-if="error">{{ error }}</p>
    <div class="register-container">
      <!-- <div class="post" v-for="(post, index) in register" v-bind:item="post" v-bind:index="index" v-bind:key="post._id">
        {{ `${post.createdAt.getDate()}/${post.createdAt.getMonth()}/${post.createdAt.getFullYear()}` }}
        <p class="text">{{ post.text }}</p>
      </div> -->
      <ul>
        <li v-for="(value, key) in post" :key="key">
          {{ key }} : {{ value }}
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
  // import RegisterService from '../RegisterService';

  // export default {
  //   name: 'Register',
  //   // props: {
  //   //   msg: String
  //   // }
  //   data() {
  //     return {
  //       register: [],
  //       error: '',
  //       text: ''
  //     }
  //   },
  //   async created() {
  //     try{
  //       this.register = await RegisterService.getRegister();
  //       console.log("YES !!");
  //     }catch(err){
  //       this.error = err.message;
  //       console.log("ERROR !!");
  //     }
  //   }
  // }

  import axios from 'axios';
  const url = 'http://localhost:3000/register';
  
  export default {
    data() {
      return {
        post: [],
      };
    },
    // created: function() {
    //   // axios.get(url).then(res => {
    //   //   this.post = res.data;
    //   // })
    // }
    async mounted(){
      const res = await axios.get(url);
      this.post = res.data;
      // const data = res.data;
      // resolve(
      //     data.map(post => ({
      //         ...post,
      //         createdAt: new Date(post.createdAt)
      //     }))
      // );
    }
  };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
